.input {
    outline: none;
    color: white;;
    font-family: Roboto;
    font-weight: 400;
}

.prompt {
    margin-right: 10px;
}

.prompt > .user {
    color: #f1c40f;
    font-weight: 400;
    margin-right: 8px;
}

.prompt > .val {
    color: #9b59b6;
}

#Shell {
    height: 100%;
    width: 100%;
    padding-left: 20px;
}

.writableline {
    margin-top: 10px;
    margin-bottom: 10px;
}


[contenteditable="true"].input {
    white-space: nowrap;
    width:200px;
    overflow: hidden;
}
[contenteditable="true"].input br {
    display:none;

}
[contenteditable="true"].input * {
    display:inline;
    white-space:nowrap;
}

#Shell > p {
    margin: 0;
    margin-top: 5px;
}

#past-command {
    display: block;
    color: #ffffffab;
}